# Linux: KDE directory preferences
.directory

# Linux: Trash folder which might appear on any partition or disk
.Trash-*

# Locker files
*.lock

# OSX
.AppleDouble
.DS_Store
.LSOverride

# OSX: Directories potentially created on remote AFP share
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# OSX: Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# OSX: Thumbnails
._*

# Temporary files
*~
*.bak
*.swp
*.tmp

# Windows: Folder config file
Desktop.ini

# Windows: Image file caches
ehthumbs.db
Thumbs.db

# Windows: Installer files
*.cab
*.msi
*.msm
*.msp

# Windows: Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows: Shortcuts
*.lnk
